
*.lib
*.kicad_pcb
*.pro
*.sch
*.sch-bak
*.debug
arduino_euclidean_rhythm_generator_schematic/fp-info-cache
*.net
*.kicad_pcb-bak
*.tmp
*.gbl
*.gbs
*.gbo
*.gtl
*.zip
*.drl
*.gts
*.gm1
*.gto
*.gbr
*.xlsx
*.csv
